.menu{
    grid-area: nav;
    background:#000;
    border-radius: 0 0 0 20px;
}
.list{
    color: #FFF;
    list-style-type: none; 
}
.list li{
    margin: 0 0 10px 0;
    font-size: 24px;
    line-height: 29px;
}
.list li:last-child{
    margin: 40px 0 0 0;
    
}
.item{
    color: #FFF;
}
.active{
    color: gold;
}