a{
    text-decoration: none;
}
body{
    background: rgb(182, 171, 143);
    font-family: 'Raleway';
    font-style: normal;
}
::-webkit-scrollbar{
    width: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.app__wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 'hh hh'
                        'nav ac';
    min-height: 500px;
}
.app__wrapper__content{
    grid-area: ac;
}